/* Estilos gerais da página */
body {
  font-family: 'Times New Roman', serif;
  font-size: 12pt;
  color: black; /* Cor do texto */
  text-align: justify;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Estilos para impressão */
@media print {
  @page {
    margin: 5mm 15mm 15mm 15mm; /* Margens: superior, direita, inferior, esquerda */
  }

  body {
  font-family: 'Times New Roman', serif;
  font-size: 12pt;
  color: black; /* Cor do texto */
  text-align: justify;
  }

  .header img {
    display: block;
    margin: 0 auto;
  }

  .main {
    margin: 0;
    padding: 0;
  }

  h3, h4, p {
    page-break-inside: avoid;
    font-family: 'Times New Roman', serif;
    color: black;
  }

  /* Ajustar tabelas para impressão */
  table {
    border: 1px solid white;
  }

  th, td {
    border: 1px solid white;
  }

  /* Adicionar estilos específicos para elementos de impressão */
  .container {
    padding: 0;
  }

  #report, #reportProduto {
    margin: 0;
    padding: 0;
  }

  /* Estilo para o botão de imprimir */
  nav {
    display: none; /* Ocultar o botão de imprimir durante a impressão */
  }

  /* Ajustar conteúdo para não quebrar na impressão */
  .div-pusher {
    display: none; /* Opcional: esconder elementos desnecessários para a impressão */
  }
}
